<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href=""> <img src="logo.jpg" width="75px" height="50px"> </a>
        
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/about" Match="NavLinkMatch.All">
                        <span class="oi oi-question-mark" aria-hidden="true"></span> About
                    </NavLink>
                </li>
                <li class="nav-item" id="register" style="align-self: flex-end">
                    <NavLink class="nav-link text-dark" href="/register" Match="NavLinkMatch.All">
                        <span class="oi" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item" id="login" style="align-self: flex-end">
                    <NavLink class="nav-link text-dark" href="/login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                    </NavLink>
                </li>
                <li class="nav-item" id="logout" style="align-self: flex-end">
                    <NavLink class="nav-link text-dark" href="/login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}