@page "/"

<div style="display: flex; justify-content: space-evenly">
    
    <div style="order: 0">
        <br /> 
        <h4>Search Movie</h4>
    </div>

    <div style="order: 1">
        <br /> 
        <h4>Select Genre</h4>
    </div>
    
</div>

<MovieRecomandationAppFE.Components.MoviesCardView />